extends common/layout

block content
    main.s-main
        .container
            .b-title
                h1 Dashboard
                a.btn.btn_new(href="#")
                    +svg("plus")
                    | new senda
            .b-hr
            .b-billing
                .b-billing__row
                    .b-box
                        h2 Subscritpion
                        .b-billing__subs
                            .b-billing__subs__title Giftbasketoverseas.com
                            .b-billing__subs__row.is-first
                                .b-billing__subs__col
                                    | Current Plan:
                                    | !{' '}
                                    strong.text-free Free
                                .b-billing__subs__col
                                    a.btn.btn_sm(href="#") Upgrade
                            .b-billing__subs__row
                                .b-billing__subs__col
                                    | Autorenew Subscription
                                .b-billing__subs__col
                                    .form-check-4
                                        input#ch51(type="checkbox")
                                        label(for="ch51")
                            .b-billing__subs__row
                                .b-billing__subs__col
                                    | Seats used:
                                    | !{' '}
                                    strong.text-count 5
                                .b-billing__subs__col
                            .b-billing__subs__row
                                .b-billing__subs__col
                                    | Subscription fee: 0$ / mo.
                                .b-billing__subs__col
                                    span.text-date Expires 31.12.2021
                    .b-box
                        h2 Billing Info
                        .b-billing__info
                                .b-billing__info__frame
                                    form(action="#")
                                        .b-billing__info__row
                                            input.inp.inp_bord-bm(type="text" placeholder="Real Text" :readonly="readonly")
                                        .b-billing__info__row
                                            input.inp.inp_bord-bm(type="text" placeholder="Street" :readonly="readonly")
                                        .b-billing__info__row.rw-1
                                            .b-billing__info__col
                                                input.inp.inp_bord-bm(type="text" placeholder="City" :readonly="readonly")
                                            .b-billing__info__col
                                                v-select(
                                                    class="style-bord-sm"
                                                    placeholder="Сountry"
                                                    :options="options"
                                                    :searchable="false"
                                                    :disabled="readonly"
                                                )
                                        .b-billing__info__row.rw-2
                                            .b-billing__info__col
                                                input.inp.inp_bord-bm(type="text" placeholder="ZIP" :readonly="readonly")
                                            .b-billing__info__col
                                                v-select(
                                                    class="style-bord-sm"
                                                    placeholder="Сountry"
                                                    :options="options"
                                                    :disabled="readonly"
                                                )
                                            .b-billing__info__col
                                                input.inp.inp_bord-bm(type="text" placeholder="Phone" :readonly="readonly")
                                    .b-billing__info__frame__edit
                                        a.link-blue(href="javascript:void(0)" @click="edit()") {{titleEdit}}
                                .b-billing__info__card
                                    .b-billing__info__card__title Credit Card
                                    .b-billing__info__card__data
                                        .b-billing__info__card__row
                                            .b-billing__info__card__col
                                                input.inp.inp_bord.inp_readonly.js-card-data(
                                                    type="text"
                                                    placeholder="XXXX XXX XXXX XXXX 7254"
                                                    :readonly="readonly"
                                                )
                                            .b-billing__info__card__col
                                                input.inp.inp_bord.inp_readonly.js-card-data(type="text" placeholder="XX / XX" readonly="readonly")
                                            .b-billing__info__card__col
                                                input.inp.inp_bord.inp_readonly.js-card-data(type="text" placeholder="****" readonly="readonly")
                                            .b-billing__info__card__col
                                                input.inp.inp_bord.inp_readonly.js-card-data(type="text" placeholder="IVAN IVANOV" readonly="readonly")
                                            .b-billing__info__card__col
                                                a.link-blue.js-card-btn(href="javascript:void(0)") Edit
                .b-box
                    h2 Billing History
                    .b-table.b-table_tb5
                        .b-table__box
                            .table-th
                                table
                                    tr
                                        th Invoice
                                        th Date
                                        th Owner
                                        th Sum
                                        th Payment type
                                        th Payment Status
                                        th Receipt
                            .table-td(data-simplebar)
                                table
                                    tr
                                        td
                                            a.link-blue(href="#") 123123144
                                        td 31.12.2021
                                        td IVAn Ivanov
                                        td $ 1346 000
                                        td CC
                                        td Success
                                        td
                                            a.link-blue(href="#") PDF
                                    tr
                                        td
                                            a.link-blue(href="#") 123123144
                                        td 31.12.2021
                                        td IVAn Ivanov
                                        td $ 1346 000
                                        td CC
                                        td Success
                                        td
                                            a.link-blue(href="#") PDF
