extends common/layout

block content
    main.s-main
        .container
            .b-title
                h1 UI Kit
            .b-sep UI Kit
            .columns
                .column.is-2
                    .b-dashboard__item.is-blue
                        a(href="javascript:void(0)")
                            span Delivering
                            img(src="img/dash-5.svg" alt="")
                            strong 236
                .column.is-2
                    .b-dashboard__item.is-blue
                        a(href="javascript:void(0)")
                            span Delivering
                            img(src="img/dash-5.svg" alt="")
                            strong 236
            .columns
                .column.is-one-fifth
                    a.btn.btn_sm(href="#")
                        +svg("plus")
                        | new senda
                .column.is-one-fifth
                    a.btn.btn_sm.btn_dis(href="#")
                        +svg("plus")
                        | new senda
            .columns
                .column.is-one-fifth
                    a.btn.btn_bl.btn_lg.btn_next(href="#")
                        | Next
                        +svg("arw-btn-next")
                .column.is-one-fifth
                    a.btn.btn_bl.btn_lg.btn_next.btn_dis(href="#")
                        | Next
                        +svg("arw-btn-next")
            .columns
                .column.is-one-fifth
                    a.btn.btn_bl.btn_lg.btn_prev(href="#")
                        +svg("arw-btn-prev")
                        | Previous
                .column.is-one-fifth
                    a.btn.btn_bl.btn_lg.btn_prev.btn_dis(href="#")
                        +svg("arw-btn-prev")
                        | Previous
            .columns
                .column.is-one-fifth
                    a.btn.btn_blue(href="#")
                        | New Recipient
                .column.is-one-fifth
                    a.btn.btn_blue.btn_dis(href="#")
                        | New Recipient
            .columns
                .column.is-one-fifth
                    a.btn.btn_nav(href="#")
                        +svg("arw-nav-prev")
            .columns
                .column.is-2
                    v-select(placeholder="Сountry" :options="options" :searchable="false")
                .column
                    v-select(placeholder="Сountry" :options="options")
                .column
                    v-select(
                        class="style-bord-sm"
                        placeholder="Сountry"
                        :options="options"
                        )
            .columns
                .column.is-2
                    v-select(
                        class="style-norad"
                        placeholder="Сountry"
                        :options="options"
                        :searchable="false")
                .column.is-2
                    v-select(
                        class="style-norad style-border"
                        placeholder="Сountry"
                        :options="options"
                        :searchable="false")
                .column.is-2
                    v-select(
                        class="style-border"
                        placeholder="Сountry"
                        :options="options"
                        :searchable="false")
            .columns
                .column.is-half
                    input.inp(type="text" placeholder="Simple textbox")
            .columns
                .column.is-half
                    .b-search
                        input.inp.b-search__inp(type="text" placeholder="Search by recipient, company, campaign")
                        .b-search__icon
                            +svg("search").b-search__icon__search
                            +svg("close").b-search__icon__close
            .columns
                .column.is-half
                    input.inp.inp_bord(type="text" placeholder="Textbox with Required mark")
            .columns
                .column.is-half
                    input.inp.inp_bord(type="text" placeholder="Textbox with Required mark" required="required")
            .columns
                .column.is-half
                    input.inp.inp_bord.is-error(type="text" placeholder="Textbox with Required mark")
            .columns
                .column.is-half
                    input.inp.inp_bord.is-success(type="text" placeholder="Textbox with Required mark")
            .columns
                .column.is-half
                    a.btn_paypal(href="#")
                        img(src="img/PayPal.png" alt="PayPal")
            .columns
                .column.is-half
                    .b-tab
                        .b-tab__item
                            input#tb1(type="checkbox")
                            label(for="tb1") Popular
                        .b-tab__item
                            input#tb2(type="checkbox")
                            label(for="tb2") Discount
                        .b-tab__item
                            input#tb3(type="checkbox")
                            label(for="tb3") Stock
                        .b-tab__item
                            input#tb4(type="checkbox")
                            label(for="tb4") Novelties
            .columns
                .column.is-half
                    button-counter
            .columns
                .column.is-half
                    .form-checked
                        span Enable swap to charity
                        .form-check-4
                            input#ch51(type="checkbox")
                            label(for="ch51")
            .columns
                .column.is-full
                    input#ch1.form-check-3(type="checkbox")
                    label(for="ch1") Сheckbox
            .columns
                .column.is-full
                    input#ch2.form-check-5(type="checkbox")
                    label(for="ch2") Сheckbox
            .columns
                .column.is-full
                    color
                    //.form-color
                    //    .form-color__label
                    //        span.form-color__label__title Color
                    //        span.form-color__label__select
                    //    .form-color__list
                    //        ul
                    //            li
                    //                input#color1.js-color(type="radio" name="color")
                    //                label(for="color1"): span(style="background: #006699")
                    //            li
                    //                input#color2.js-color(type="radio" name="color")
                    //                label(for="color2"): span(style="background: #E34646")
                    //            li
                    //                input#color3.js-color(type="radio" name="color")
                    //                label(for="color3"): span(style="background: #44C38D")
                    //            li
                    //                input#color4.js-color(type="radio" name="color")
                    //                label(for="color4"): span(style="background: #FFE601")
                    //            li
                    //                input#color5.js-color(type="radio" name="color")
                    //                label(for="color5"): span(style="background: #CD9191")
                    //            li
                    //                input#color6.js-color(type="radio" name="color")
                    //                label(for="color6"): span(style="background: #FFBA69")
                    //            li
                    //                input#color7.js-color(type="radio" name="color")
                    //                label(for="color7"): span(style="background: #6C7085")
                    //            li
                    //                input#color8.js-color(type="radio" name="color")
                    //                label(for="color8"): span(style="background: #FF6969")
                    //    .form-color__bg
            .columns
                .column.is-full
                    .b-nav
                        ul
                            li
                                a(href="#")
                                    +svg("nav-1")
                                    span SAME GIFT
                            li
                                a(href="#")
                                    +svg("nav-2")
                                    span MULTIPLE GIFTS
                            li
                                a(href="#")
                                    +svg("nav-3")
                                    span FREE CHOICE
